In [1]:
import pandas as pd

In [ ]:
#csv-comma separated values

In [ ]:
df=pd.read_csv("/customer(1)",names=["id","fname","lname","age","profession","country"])
print(df.to_string())

          id        fname        lname  age                       profession    country
0    4000001     Kristina        Chung   55                            Pilot      india
1    4000002        Paige         Chen   74                          Teacher         uk
2    4000003       Sherri       Melton   34                      Firefighter         us
3    4000004     Gretchen         Hill   66       Computer hardware engineer      china
4    4000005        Karen      Puckett   74                           Lawyer     africa
5    4000006      Patrick         Song   42                     Veterinarian  australia
6    4000007        Elsie     Hamilton   43                            Pilot    ireland
7    4000008        Hazel       Bender   63                        Carpenter      india
8    4000009      Malcolm       Wagner   39                           Artist      india
9    4000010      Dolores   McLaughlin   60                           Writer      india
10   4000011      Francis     McNamara   47                        Therapist      india
11   4000012        Sandy       Raynor   26                           Writer      india
12   4000013       Marion         Moon   41                        Carpenter      india
13   4000014         Beth      Woodard   65                         Musician      india
14   4000015        Julia        Desai   49                         Musician      india
15   4000016       Jerome      Wallace   52                       Pharmacist      india
16   4000017         Neal     Lawrence   72      Computer support specialist      india
17   4000018         Jean      Griffin   45                 Childcare worker      india
18   4000019     Kristine    Dougherty   63                Financial analyst      india
19   4000020      Crystal       Powers   67           Engineering technician      india
20   4000021         Alex          May   39          Environmental scientist      india
21   4000022         Eric       Steele   66                           Doctor      india
22   4000023       Wesley       Teague   42                        Carpenter      india
23   4000024     Franklin         Vick   28                           Dancer      india
24   4000025       Claire    Gallagher   42                         Musician      india
25   4000026       Marian      Solomon   27                           Lawyer      india
26   4000027       Marcia        Walsh   64                       Accountant      india
27   4000028       Dwight       Monroe   45                        Economist         uk
28   4000029        Wayne     Connolly   40                Real estate agent         uk
29   4000030    Stephanie      Hawkins   50        Human resources assistant         uk
30   4000031         Neal    Middleton   59                   Civil engineer         uk
31   4000032     Gretchen    Goldstein   24           Engineering technician         uk
32   4000033          Tim        Watts   58                           Lawyer         uk
33   4000034       Jerome     Johnston   38                 Childcare worker         uk
34   4000035      Shelley        Weeks   25                         Reporter         uk
35   4000036    Priscilla    Wilkerson   35  Agricultural and food scientist         uk
36   4000037        Elsie       Barton   27                 Childcare worker         uk
37   4000038         Beth       Walton   73                      Firefighter         uk
38   4000039        Erica         Hall   33                   Police officer         uk
39   4000040      Douglas         Ross   27                        Secretary         uk
40   4000041       Donald        Chung   65       Computer hardware engineer         uk
41   4000042    Katherine       Bender   44                        Physicist         uk
42   4000043         Paul        Woods   63                           Doctor         uk
43   4000044     Patricia       Mangum   67                   Civil engineer         uk
44   4000045         Lois       Joseph   44                         Musician         uk
45   4000046        Louis    Rosenthal   31                        Economist         uk
46   4000047    Christina       Bowden   47       Computer software engineer         uk
47   4000048      Darlene       Barton   54                           Doctor         uk
48   4000049       Harvey    Underwood   70           Engineering technician         uk
49   4000050      William        Jones   53                     Photographer         uk
50   4000051    Frederick        Baker   52                           Writer         uk
51   4000052      Shirley      Merritt   21                         Reporter         uk
52   4000053        Jason        Cross   56                   Civil engineer         uk
53   4000054       Judith       Cooper   22                        Economist         uk
54   4000055     Gretchen       Holmes   39                 Childcare worker         uk
55   4000056          Don       Sharpe   53                    Social worker         uk
56   4000057       Glenda       Morgan   37                Real estate agent         uk
57   4000058        Scott        Hoyle   40                           Doctor         uk
58   4000059          Pat        Allen   45                        Secretary         uk
59   4000060     Michelle         Rich   44                           Artist         uk
60   4000061      Jessica         Rich   37                            Actor         uk
61   4000062         Evan        Grant   66  Agricultural and food scientist         uk
62   4000063      Melinda      Proctor   27                          Teacher         uk
63   4000064       Calvin         Diaz   65                          Athlete         us
64   4000065       Eugene       Graham   52                   Police officer         us
65   4000066       Vickie      Watkins   55      Computer support specialist         us
66   4000067         Luis       Hinton   69                 Childcare worker         us
67   4000068        Allan        Marsh   67                          Athlete         us
68   4000069      Melanie       Hewitt   47                Real estate agent         us
69   4000070     Marianne       Branch   53                            Judge         us
70   4000071      Natalie       Walton   24    Recreation and fitness worker         us
71   4000072     Caroline      O'Brien   44      Computer support specialist         us
72   4000073       Arlene         Case   62                         Musician         us
73   4000074         Kyle        Watts   39           Engineering technician         us
74   4000075       Calvin  Christensen   54                        Architect         us
75   4000076         Gary        Parks   65                       Pharmacist         us
76   4000077     Samantha       Hardin   27                           Doctor         us
77   4000078         Sara        Lucas   44                     Loan officer         us
78   4000079        Stacy        Eason   31                         Musician         us
79   4000080       Gladys     Davidson   52    Recreation and fitness worker         us
80   4000081         Mike    Whitehead   26                       Politician         us
81   4000082        Lynne         Rose   36                     Loan officer         us
82   4000083         Faye       Sparks   61                   Civil engineer         us
83   4000084        Diana        Moore   44      Computer support specialist         us
84   4000085         Leon      Pearson   24                        Physicist         us
85   4000086        Ethel      Rodgers   30                        Librarian         us
86   4000087        Steve       Graves   73                            Nurse         us
87   4000088       Alison  Scarborough   66                         Designer         us
88   4000089       Sherri       Sutton   75                    Social worker         us
89   4000090        Patsy     Sinclair   48                   Police officer         us
90   4000091        Kelly       Bowman   69                 Childcare worker         us
91   4000092        Stacy        Olsen   25                     Veterinarian         us
92   4000093       Curtis         Love   45                        Secretary         us
93   4000094         Dana       McLean   61                           Artist         us
94   4000095     Jennifer    Christian   54        Human resources assistant         us
95   4000096        Brett         Lamb   39           Engineering technician         us
96   4000097      Brandon        James   29                         Musician         us
97   4000098        Keith     Chandler   25                            Coach         us
98   4000099        Joann        Stout   32                Real estate agent         us
99   4000100       Ronnie        Cowan   71                     Photographer         us
100  4000101        Scott       Golden   27                          Teacher         us
101  4000102         Gene      Bowling   73    Recreation and fitness worker         us
102  4000103       Louise      Beasley   54                     Loan officer         us
103  4000104     Geoffrey        Clapp   41                     Photographer         us
104  4000105     Patricia       Abrams   51                     Veterinarian         us
105  4000106     Jennifer       Tilley   35  Agricultural and food scientist         us
106  4000107         Mary        Morse   70              Automotive mechanic         us
107  4000108        Shawn       Boykin   34                     Photographer         us
108  4000109      Vincent       Sumner   31                           Lawyer         us
109  4000110         Kurt      Cassidy   32                           Dancer         us
110  4000111        Danny     Davidson   70  Agricultural and food scientist         us
111  4000112     Charlene        Heath   26                      Electrician         us
112  4000113        Alice    Blanchard   73                        Economist         us
113  4000114         Joan   McAllister   73           Engineering technician         us
114  4000115        Betty     McKenzie   45      Computer support specialist         us
115  4000116        Danny        Byrne   51                           Dancer         us
116  4000117        Peggy    Schroeder   61                     Loan officer         us
117  4000118       Leslie      Griffin   37                     Photographer         us
118  4000119     Marshall        Gross   42                            Actor         us
119  4000120         Sara      Perkins   67                            Actor         us
120  4000121       Martha    Robertson   37  Agricultural and food scientist         us
121  4000122         Jack       Palmer   52        Human resources assistant         us
122  4000123        Gayle        Brady   45                      Firefighter         us
123  4000124     Benjamin         Rowe   64                 Childcare worker         us
124  4000125      Roberta        Zhang   38                     Statistician         us
125  4000126     Patricia        Hodge   59                           Artist         us
126  4000127     Clifford           Li   63                     Photographer         us
127  4000128       Joanne      Bowling   35                         Musician         us
128  4000129       Martin      Justice   58                      Electrician         us
129  4000130         Toni        Glass   46                           Lawyer         us
130  4000131         Beth       Willis   62                        Carpenter         us
131  4000132      Jessica       Hester   72                   Civil engineer         us
132  4000133     Samantha        Floyd   72                 Childcare worker         us
133  4000134        Jimmy       Graves   69                            Nurse         us
134  4000135      Vincent      Fischer   33                     Statistician         us
135  4000136       Dianne       Norman   68                     Veterinarian         us
136  4000137       Rhonda         Chan   34                       Pharmacist         us
137  4000138       Tamara         Hunt   25                     Psychologist         us
138  4000139         Mary         Byrd   34          Environmental scientist         us
139  4000140       Sidney         Lane   54                     Statistician         us
140  4000141         Jeff       Kaplan   70                          Chemist      china
141  4000142       Sandra       Heller   51                     Photographer      china
142  4000143        Katie          May   28    Recreation and fitness worker      china
143  4000144      Raymond     Jennings   63                            Coach      china
144  4000145        Roger        Hanna   23                         Musician      china
145  4000146      Natalie     Locklear   37                       Politician      china
146  4000147        Kathy     Holloway   65                       Pharmacist      china
147  4000148         Troy        Jones   74                        Secretary      china
148  4000149         Neal       Glover   40                Real estate agent      china
149  4000150       Martin         Vick   31                        Physicist      china
150  4000151         Jack    O'Donnell   59                            Actor      china
151  4000152      Vincent      Goldman   22                      Electrician      china
152  4000153         Beth      McKenna   40                     Veterinarian      china
153  4000154       Milton        Starr   23                        Carpenter      china
154  4000155       Tamara        Stone   73                      Firefighter      china
155  4000156     Mitchell      McClure   68                     Loan officer      china
156  4000157     Franklin       Watson   64                            Coach      china
157  4000158        Leroy       Monroe   51      Computer support specialist      china
158  4000159         Glen       Abbott   29                     Loan officer      china
159  4000160       Judith       Singer   73                            Actor      china
160  4000161        Alice         Hall   33    Recreation and fitness worker      china
161  4000162        Bruce      Farrell   35                        Librarian      china
162  4000163     Kathleen        Lucas   66                          Chemist      china
163  4000164          Amy       Norman   62              Automotive mechanic      china
164  4000165       Ronnie       Atkins   67                           Dancer      china
165  4000166       Martha       Monroe   31                            Judge      china
166  4000167         Lynn    Robertson   45                           Lawyer      china
167  4000168         Jose        Sykes   47                           Writer      china
168  4000169       Robert         Reid   39                        Carpenter      china
169  4000170      Pauline     Chandler   70                        Economist      china
170  4000171      Stephen        Finch   30                            Coach      china
171  4000172        Peggy        Hobbs   69                         Musician      china
172  4000173        Donna       Adkins   72              Electrical engineer      china
173  4000174        Doris       Kinney   36                          Athlete      china
174  4000175          Ben     Whitaker   35      Computer support specialist      china
175  4000176      Kristin    Alexander   21                            Coach      china
176  4000177         Ryan       Conner   51              Electrical engineer      china
177  4000178       Tracey       Waters   73       Computer hardware engineer      china
178  4000179         Mark       Becker   39      Computer support specialist      china
179  4000180        Louis      Rollins   35                        Economist      china
180  4000181        Janet         Love   39                       Politician      china
181  4000182          Leo       Adkins   42                        Economist      china
182  4000183    Constance        Black   36                      Firefighter      china
183  4000184        Sarah          Fox   73                     Psychologist      china
184  4000185       Gladys      Hatcher   62                         Musician      china
185  4000186        Hazel           Wu   68                        Therapist      china
186  4000187        Hazel        Lloyd   48                       Politician      china
187  4000188       Jerome        Joyce   40                           Artist      china
188  4000189      Vincent        Welch   54                     Psychologist      china
189  4000190          Kim     Matthews   38                        Architect      china
190  4000191       Joseph     Chappell   59                         Reporter      china
191  4000192       Alison    MacDonald   26                 Childcare worker      china
192  4000193         Eric         Kane   61                 Childcare worker      china
193  4000194      Heather       Butler   67                           Farmer      china
194  4000195       Claire      Pickett   59                           Lawyer      china
195  4000196      Michele       Bowman   54       Computer software engineer     africa
196  4000197        Terry       Barton   27    Recreation and fitness worker     africa
197  4000198          Ken      Kennedy   35              Automotive mechanic     africa
198  4000199         Judy       Branch   42                          Athlete     africa
199  4000200        Clyde     Thornton   70                       Pharmacist     africa
200  4000201      Timothy      McNeill   70                        Librarian     africa
201  4000202          Ted    Weinstein   23        Human resources assistant     africa
202  4000203       Sandra    Middleton   28                        Librarian     africa
203  4000204       Billie         Moss   65                     Photographer     africa
204  4000205    Katharine        Lucas   67                      Electrician     africa
205  4000206       Lester         Rich   53        Human resources assistant     africa
206  4000207       Johnny      Carlton   28                        Librarian     africa
207  4000208       Ashley        Brady   43                Financial analyst     africa
208  4000209       Lauren      Schultz   33                      Electrician     africa
209  4000210      Carolyn      Nichols   49  Agricultural and food scientist     africa
210  4000211        Louis       Harvey   72                Financial analyst     africa
211  4000212     Charlene    Stevenson   65                        Carpenter     africa
212  4000213       Ashley      Houston   24                            Judge     africa
213  4000214       Sheryl         Dunn   71                   Civil engineer     africa
214  4000215          Ben         West   64                      Electrician     africa
215  4000216        Linda      O'Brien   46                     Loan officer     africa
216  4000217        Sarah         Barr   52                        Therapist     africa
217  4000218        Brett       Snyder   22                           Doctor     africa
218  4000219         Dana         Cain   63        Human resources assistant     africa
219  4000220      Rebecca        Heath   74          Environmental scientist     africa
220  4000221       Glenda      Boswell   28                   Civil engineer     africa
221  4000222         Glen        Olsen   63                 Childcare worker     africa
222  4000223          Don      Pittman   70                         Designer     africa
223  4000224      Gregory       Weiner   58                       Accountant     africa
224  4000225        Randy     Petersen   71                            Actor     africa
225  4000226    Geraldine        Davis   36                       Accountant     africa

In [ ]:
df.shape

(463, 6)

In [ ]:
df.ndim

2

In [ ]:
df.head(10)

        id     fname       lname  age                  profession    country
0  4000001  Kristina       Chung   55                       Pilot      india
1  4000002     Paige        Chen   74                     Teacher         uk
2  4000003    Sherri      Melton   34                 Firefighter         us
3  4000004  Gretchen        Hill   66  Computer hardware engineer      china
4  4000005     Karen     Puckett   74                      Lawyer     africa
5  4000006   Patrick        Song   42                Veterinarian  australia
6  4000007     Elsie    Hamilton   43                       Pilot    ireland
7  4000008     Hazel      Bender   63                   Carpenter      india
8  4000009   Malcolm      Wagner   39                      Artist      india
9  4000010   Dolores  McLaughlin   60                      Writer      india

In [ ]:
#iloc
df.iloc[100:151]

,id,fname,lname,age,profession,country
100,4000101,Scott,Golden,27,Teacher,us
101,4000102,Gene,Bowling,73,Recreation and fitness worker,us
102,4000103,Louise,Beasley,54,Loan officer,us
103,4000104,Geoffrey,Clapp,41,Photographer,us
104,4000105,Patricia,Abrams,51,Veterinarian,us
105,4000106,Jennifer,Tilley,35,Agricultural and food scientist,us
106,4000107,Mary,Morse,70,Automotive mechanic,us
107,4000108,Shawn,Boykin,34,Photographer,us
108,4000109,Vincent,Sumner,31,Lawyer,us
109,4000110,Kurt,Cassidy,32,Dancer,us
110,4000111,Danny,Davidson,70,Agricultural and food scientist,us
111,4000112,Charlene,Heath,26,Electrician,us
112,4000113,Alice,Blanchard,73,Economist,us
113,4000114,Joan,McAllister,73,Engineering technician,us
114,4000115,Betty,McKenzie,45,Computer support specialist,us
115,4000116,Danny,Byrne,51,Dancer,us
116,4000117,Peggy,Schroeder,61,Loan officer,us
117,4000118,Leslie,Griffin,37,Photographer,us
118,4000119,Marshall,Gross,42,Actor,us
119,4000120,Sara,Perkins,67,Actor,us
120,4000121,Martha,Robertson,37,Agricultural and food scientist,us
121,4000122,Jack,Palmer,52,Human resources assistant,us
122,4000123,Gayle,Brady,45,Firefighter,us
123,4000124,Benjamin,Rowe,64,Childcare worker,us
124,4000125,Roberta,Zhang,38,Statistician,us
125,4000126,Patricia,Hodge,59,Artist,us
126,4000127,Clifford,Li,63,Photographer,us
127,4000128,Joanne,Bowling,35,Musician,us
128,4000129,Martin,Justice,58,Electrician,us
129,4000130,Toni,Glass,46,Lawyer,us
130,4000131,Beth,Willis,62,Carpenter,us
131,4000132,Jessica,Hester,72,Civil engineer,us
132,4000133,Samantha,Floyd,72,Childcare worker,us
133,4000134,Jimmy,Graves,69,Nurse,us
134,4000135,Vincent,Fischer,33,Statistician,us
135,4000136,Dianne,Norman,68,Veterinarian,us
136,4000137,Rhonda,Chan,34,Pharmacist,us
137,4000138,Tamara,Hunt,25,Psychologist,us
138,4000139,Mary,Byrd,34,Environmental scientist,us
139,4000140,Sidney,Lane,54,Statistician,us
140,4000141,Jeff,Kaplan,70,Chemist,china
141,4000142,Sandra,Heller,51,Photographer,china
142,4000143,Katie,May,28,Recreation and fitness worker,china
143,4000144,Raymond,Jennings,63,Coach,china
144,4000145,Roger,Hanna,23,Musician,china
145,4000146,Natalie,Locklear,37,Politician,china
146,4000147,Kathy,Holloway,65,Pharmacist,china
147,4000148,Troy,Jones,74,Secretary,china
148,4000149,Neal,Glover,40,Real estate agent,china
149,4000150,Martin,Vick,31,Physicist,china
150,4000151,Jack,O'Donnell,59,Actor,china

In [ ]:
df.iloc[100:151,0:3]

          id     fname       lname
100  4000101     Scott      Golden
101  4000102      Gene     Bowling
102  4000103    Louise     Beasley
103  4000104  Geoffrey       Clapp
104  4000105  Patricia      Abrams
105  4000106  Jennifer      Tilley
106  4000107      Mary       Morse
107  4000108     Shawn      Boykin
108  4000109   Vincent      Sumner
109  4000110      Kurt     Cassidy
110  4000111     Danny    Davidson
111  4000112  Charlene       Heath
112  4000113     Alice   Blanchard
113  4000114      Joan  McAllister
114  4000115     Betty    McKenzie
115  4000116     Danny       Byrne
116  4000117     Peggy   Schroeder
117  4000118    Leslie     Griffin
118  4000119  Marshall       Gross
119  4000120      Sara     Perkins
120  4000121    Martha   Robertson
121  4000122      Jack      Palmer
122  4000123     Gayle       Brady
123  4000124  Benjamin        Rowe
124  4000125   Roberta       Zhang
125  4000126  Patricia       Hodge
126  4000127  Clifford          Li
127  4000128    Joanne     Bowling
128  4000129    Martin     Justice
129  4000130      Toni       Glass
130  4000131      Beth      Willis
131  4000132   Jessica      Hester
132  4000133  Samantha       Floyd
133  4000134     Jimmy      Graves
134  4000135   Vincent     Fischer
135  4000136    Dianne      Norman
136  4000137    Rhonda        Chan
137  4000138    Tamara        Hunt
138  4000139      Mary        Byrd
139  4000140    Sidney        Lane
140  4000141      Jeff      Kaplan
141  4000142    Sandra      Heller
142  4000143     Katie         May
143  4000144   Raymond    Jennings
144  4000145     Roger       Hanna
145  4000146   Natalie    Locklear
146  4000147     Kathy    Holloway
147  4000148      Troy       Jones
148  4000149      Neal      Glover
149  4000150    Martin        Vick
150  4000151      Jack   O'Donnell

In [ ]:
df['profession']

0                           Pilot
1                         Teacher
2                     Firefighter
3      Computer hardware engineer
4                          Lawyer
                  ...
458                    Politician
459                  Veterinarian
460                     Architect
461                  Statistician
462                         Actor
Name: profession, Length: 463, dtype: object

In [ ]:
#100,120   fname,profession,country
df.iloc[100:121][["fname","profession","country"]]

        fname                       profession country
100     Scott                          Teacher      us
101      Gene    Recreation and fitness worker      us
102    Louise                     Loan officer      us
103  Geoffrey                     Photographer      us
104  Patricia                     Veterinarian      us
105  Jennifer  Agricultural and food scientist      us
106      Mary              Automotive mechanic      us
107     Shawn                     Photographer      us
108   Vincent                           Lawyer      us
109      Kurt                           Dancer      us
110     Danny  Agricultural and food scientist      us
111  Charlene                      Electrician      us
112     Alice                        Economist      us
113      Joan           Engineering technician      us
114     Betty      Computer support specialist      us
115     Danny                           Dancer      us
116     Peggy                     Loan officer      us
117    Leslie                     Photographer      us
118  Marshall                            Actor      us
119      Sara                            Actor      us
120    Martha  Agricultural and food scientist      us

In [ ]:
df.sort_values(by="age",ascending=False)

          id     fname      lname  age           profession    country
324  4000325      Ruth     Harmon   75               Artist  australia
88   4000089    Sherri     Sutton   75        Social worker         us
274  4000275  Lawrence      Miles   74               Dancer     africa
241  4000242      Edna      Hoyle   74  Electrical engineer     africa
258  4000259  Margaret    Burgess   74        Social worker     africa
..       ...       ...        ...  ...                  ...        ...
291  4000292     Donna       Rice   21        Social worker  australia
450  4000451   Russell       Hess   21            Architect    ireland
348  4000349   Russell     Dalton   21       Civil engineer  australia
175  4000176   Kristin  Alexander   21                Coach      china
51   4000052   Shirley    Merritt   21             Reporter         uk

[463 rows x 6 columns]

In [ ]:
#loc
df.loc[df["country"]=="india"]

         id     fname       lname  age                   profession country
0   4000001  Kristina       Chung   55                        Pilot   india
7   4000008     Hazel      Bender   63                    Carpenter   india
8   4000009   Malcolm      Wagner   39                       Artist   india
9   4000010   Dolores  McLaughlin   60                       Writer   india
10  4000011   Francis    McNamara   47                    Therapist   india
11  4000012     Sandy      Raynor   26                       Writer   india
12  4000013    Marion        Moon   41                    Carpenter   india
13  4000014      Beth     Woodard   65                     Musician   india
14  4000015     Julia       Desai   49                     Musician   india
15  4000016    Jerome     Wallace   52                   Pharmacist   india
16  4000017      Neal    Lawrence   72  Computer support specialist   india
17  4000018      Jean     Griffin   45             Childcare worker   india
18  4000019  Kristine   Dougherty   63            Financial analyst   india
19  4000020   Crystal      Powers   67       Engineering technician   india
20  4000021      Alex         May   39      Environmental scientist   india
21  4000022      Eric      Steele   66                       Doctor   india
22  4000023    Wesley      Teague   42                    Carpenter   india
23  4000024  Franklin        Vick   28                       Dancer   india
24  4000025    Claire   Gallagher   42                     Musician   india
25  4000026    Marian     Solomon   27                       Lawyer   india
26  4000027    Marcia       Walsh   64                   Accountant   india

In [ ]:
len(df.loc[df["age"]>70])

43

In [ ]:
#display the details of musicians from india
df.loc[(df["profession"]=="Musician") & (df["country"]=="india")].sort_values(by="age")

         id   fname      lname  age profession country
24  4000025  Claire  Gallagher   42   Musician   india
14  4000015   Julia      Desai   49   Musician   india
13  4000014    Beth    Woodard   65   Musician   india

In [ ]:
df['country'].value_counts()

country
australia    104
africa        89
us            78
ireland       77
china         56
uk            37
india         21
Name: count, dtype: int64

In [ ]:
#exploratory data analysis

In [ ]:
df.isnull().sum()

id            0
fname         0
lname         0
age           0
profession    0
country       1
dtype: int64